NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyA82Z7lmstyUPEeW216ZdortovvkH4TSjI
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=nithyanruthyaaradana-6sb2b.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=nithyanruthyaaradana-6sb2b
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=nithyanruthyaaradana-6sb2b.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=1041425996698
NEXT_PUBLIC_FIREBASE_APP_ID=1:1041425996698:web:c6cc9cac82edf0464e3823